<html lang="en">
  <head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
    <h1>Welcome to Cloud Sync !!!</h1>
<br>
<br>
	<p><b><a href="https://login.live.com/oauth20_authorize.srf?client_id=0000000048104E79&scope=wl.skydrive&response_type=token&redirect_uri=http://ec2.socialphotos.net:5000/callback">Click here to Login to skydrive</a></b></p>
    </div>
  </body>
</html>
